---
---
<section class="content-section">
    <section class="right-section">
      <div class="video-and-info">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/3oSeQb94Ga4?si=eWMVxleOnio0sEWj"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <h2>Curso básico de JavaScript</h2>
        <div class="teacher-info">
          <div class="profile-pic">
            <img src="" alt="" />
          </div>
          <div class="profile-info">
            <h3>Nombre docente</h3>
            <p class="numero-seguidores">999 seguidores</p>
          </div>
          <button class="follow-btn">+ Seguir</button>
        </div>
        <div class="info">
          <div class="hours">
            <h4>Total</h4>
            <p>n horas</p>
          </div>
          <div class="description">
            <h4>Descripción</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>
  