/*=================Fuentes de Google==================*/
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=M+PLUS+1+Code:wght@100..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/*=================Variables CSS=======================*/
:root{
    /*===========Colores=============*/
    --Fondo : #E8EDEB;
    --BotonBlanco: #EAEAEA; 
    --Morado: #5C59C2;
    --MoradoBoton: #5350B9;
    --Celeste: #9AD3CC;
    --CelesteBoton: #89C8C0; 
    --Texto: #414141;
    /*===========Fuentes=============*/
    --fuenteUno: "Yantramanav", sans-serif;
    --fuenteDos: "Biryani", sans-serif;
    --fuenteTres: "Montserrat Alternates", sans-serif;
    --fuenteCode: "M PLUS 1 Code", monospace;   
}

.planes_text h1 {
    font-family: var(--fuenteDos);
}

.planes_text p {
    font-family: var(--fuenteTres);
}
