---
import '@/styles/global.css';
import WordPullUp from '@/components/ui/word-pull-up';
import TypingAnimation from '@/components/ui/typing-animation';
---

<div class="flex justify-center items-center">
    <div class="">
        <h1
            class="font-monserrat text-6xl max-w-[800px] text-[#414141] mb-4 text-left font-bold"
        >
            <WordPullUp
                className=""
                words="Nunca es demasiado temprano ni tarde para empezar a"
                client:load
            />
            <TypingAnimation
                text="programar."
                client:load
                className="text-[#5C59C2] font-cascadia"
            />
        </h1>

        <p
            class="font-manrope mb-14 text-2xl max-w-[650px]"
            style="font-weight: 300;"
        >
            Organización de educación en tecnologías y crecimiento personal para
            niños y jóvenes.
        </p>
        <button
            class="bg-[#5C59C2] rounded-full px-14 py-4 text-white font-onest text-2xl hover:bg-[#4a489e] transition-colors duration-300 animation-boton_main"
            style="font-weight: 700;  transition: transform 0.5s ease;"
            >Suscríbete ahora</button
        >
    </div>

    <div class="flex justify-center items-center relative">
        <div class="absolute left-5 top-24">
            <div class="w-36 h-36 bg-[#5C59C2] rounded-full"></div>
        </div>
        <div class="absolute right-4 bottom-20">
            <div class="w-36 h-36 bg-[#99DAD3] rounded-full"></div>
        </div>
        <div class="relative">
            <img class="w-[650px]" src="/main/adultos.png" alt="" />
        </div>
    </div>
</div>
