---
import '@/styles/global.css';
import WordPullUp from '@/components/ui/word-pull-up';
import TypingAnimation from '@/components/ui/typing-animation';
---

<div class="flex justify-center items-center">
    <div class="">
        <p
            class="font-monserrat text-6xl max-w-[800px] text-[#FFC122] mb-4"
            style="font-weight: 800;"
        >
            <WordPullUp
                className=""
                words="Nunca es demasiado temprano ni tarde para empezar a"
                client:load
            />
            <TypingAnimation
                text="programar."
                client:load
                className="text-[#FFA09E] font-cascadia"
            />
        </p>

        <p
            class="font-manrope mb-14 text-2xl max-w-[650px]"
            style="font-weight: 300;"
        >
            Organización de educación en tecnologías y crecimiento personal para
            niños y jóvenes.
        </p>

        <a href="#planes">
            <button
                class="bg-[#FFA09E] rounded-full px-14 py-4 text-white font-onest text-2xl hover:bg-[#ef9694] transition-colors duration-300 animation-boton_main"
                style="font-weight: 700;  transition: transform 0.5s ease;"
                >Suscríbete ahora</button
            >
        </a>
    </div>

    <div class="flex justify-center items-center relative">
        <div class="relative">
            <img class="w-[650px]" src="/mainniña.png" alt="" />
        </div>
    </div>
</div>
