---
import '@/styles/global.css';
---

<div class="flex justify-center items-center">
    <div class="">
        <p
            class="font-monserrat text-6xl max-w-[800px] text-[#FFC122] mb-4"
            style="font-weight: 800;"
        >
            Nunca es demasiado temprano ni tarde para empezar a <span
                class="text-[#FFA09E] font-cascadia">programar.</span
            >
        </p>

        <p
            class="font-manrope mb-14 text-2xl max-w-[650px]"
            style="font-weight: 300;"
        >
            Organización de educación en tecnologías y crecimiento personal para
            niños y jóvenes.
        </p>
        <button
            class="bg-[#FFA09E] rounded-full px-14 py-4 text-white font-onest text-2xl hover:bg-[#FFA09E] transition-colors duration-300 animate-pop"
            style="font-weight: 700;">Suscríbete ahora</button
        >
    </div>

    <div class="flex justify-center items-center relative">
        <div class="relative">
            <img class="w-[650px]" src="/mainniña.png" alt="" />
        </div>
</div>
