---
import '@/styles/global.css'
---
<body class="mt-8" style="background-color: #e8edeb">
    <h1 class="flex text-[20px] justify-center align-center text-[#414141] text-bold font-onest" style="font-weight:800;">Becas</h1>
    <h2 class="flex text-[40px] justify-center align-center text-[#414141] text-bold font-onest" style="font-weight:800;">AchtDev te ayuda</h2>
    <div class="flex flex-row justify-center items-center">
        <p class="text-[15px] font-onest w-[315px]" style="font-weight: 400;">Ofrecemos una beca de ayuda económica dirigida a usuarios que debido a su situación financiera no pueden adquirir una suscripción.</p>
        <img src="" alt="logo">
    </div>
    <img  src="becas_img.png" alt="portada">
    <div class="mt-12 mb-12 m-20">
        <p class="font-onest text-justify">En nuestra plataforma educativa, ofrecemos una Beca de Ayuda Económica destinada a usuarios que desean avanzar en su formación, pero no pueden adquirir una suscripción debido a su situación financiera. Esta beca tiene como objetivo proporcionar acceso completo a nuestros cursos, recursos y herramientas avanzadas, asegurando que el aprendizaje no sea un privilegio limitado por la capacidad de pago.
            Para postular a la beca, los usuarios deben cumplir con una serie de requisitos que demuestran tanto su compromiso con el aprendizaje como su necesidad económica. Entre los requisitos, se encuentran aprobar al menos 2 cursos gratuitos, completar un examen final, y presentar una justificación económica a través de documentos como comprobantes de ingresos, cartas de referencia o declaraciones juradas.
            <br>
            Nuestra misión es eliminar barreras y facilitar el acceso a la educación, brindando una oportunidad justa para aquellos que desean mejorar sus habilidades y conocimientos, pero enfrentan dificultades económicas. ¡Con nuestra beca, todos pueden tener la posibilidad de alcanzar sus metas educativas!
        </p>
    </div>
    <div class="mt-4 mb-4 m-20 h-1 rounded-full" style="background-color: #467b75"></div>
    <div class="m-20 mt-8 flex space-x-4 font-onest">
        <div class="w-1/2 p-4">
            <h1 class="text-[25px] text-[#414141] font-onest mb-2" style="font-weight:800;">Cursos Necesarios</h1>
            <div class="w-72 pb-0" style="background-color: #ffffff; border-radius: 30px; border: 1px solid #475D78;">
                <h2 class="pl-6 pr-6 pt-6 text-[17px] text-[#414141]" style="font-weight:700;">Curso Básico de JavaScript</h2>
                <div>
                    <div class="inline-flex items-center pl-6 pr-6">
                        <img class="w-4" src="../mini-devs.svg" alt="mini">
                        <h1 class="pl-2 text-[13px] font-onest">MiniDevs</h1>
                    </div>
                    <div class="pl-6 pr-6">
                        <img src="" alt="">
                        <h1>100 estudiantes</h1>
                    </div>
                    <div class="flex space-x-4 pl-6 pr-6 mt-3 mb-4">
                        <button class="text-[12.5px] text-[#ffffff] p-2 pr-3 pl-3" style="background-color: #467b75; font-weight:600; border-radius: 12px;" >+Ver Detalles</button>
                        <button class="text-[12.5px] text-[#ffffff] p-2 pr-3 pl-3" style="background-color: #475D78; font-weight:600; border-radius: 12px;">Comprar Ahora</button>
                    </div>
                    <img style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;" src="curso1_js.png" alt="curso">
                </div>
            </div>
        </div>
    
        <div class="w-1/2 p-4">
            <h1 class="text-[25px] text-[#414141] font-onest mb-2" style="font-weight:800;">Documentos Necesarios</h1>
            <p>
                <span style="color: #477974; font-weight:600;">1. Declaración jurada:</span> Una declaración escrita y firmada por el solicitante, donde describa su situación económica y el motivo por el cual necesita la beca.
                <br>
                <br>
                <span style="color: #477974; font-weight:600;">2. Documentos importantes:</span> Certificado de desempleo, Estado de cuenta bancario, Carta de referencia, etc.
            </p>
            <button class="p-2.5 pl-6 pr-6 mt-6 text-[#477974]" style="background-color: #ffffff; border-radius: 13px; border: 2px solid#467b75; font-weight:600;">Subir documentos (.pdf, .docx, .jpg)</button>
        </div>
    </div>
    <button class="flex font-onest text-[20px] text-[#ffffff] p-2 pr-3 pl-3" style="background-color: #467b75; border-radius: 20px;">Solicitar</button>
</body>
