---
import DetailsLayout from '@/layouts/DetailsLayout.astro';
import '@/styles/global.css';
import ContentVideoSection from '@/components/detailCourse/ContentVideoSection.astro';
import HeadVideo from '@/components/detailCourse/HeadVideo.astro';
import TabsSectionVideo from '@/components/detailCourse/TabsSectionVideo.astro';
---

<DetailsLayout>
    <div>
        <ContentVideoSection />
        <HeadVideo />
        <TabsSectionVideo />
    </div>
</DetailsLayout>
