---
import Layout from '../layouts/Layout.astro';
import PlanesAdolecente from '@/components/planes/planesSectionAdolecente.astro';//Nuevo
import Becas from '@/components/main/beca/index_becas.astro';
import Headeradolecente from '@/components/headerAdolecente.astro';//Nuevo
import Main from '@/components//main/main/index_mainAdolecente.astro';
import CarruselAdolecente from '@/components/main/carrusel/index_carruselAdolecente.astro';
import FAQadolecente from '@/components/main/FAQ/index_FAQ_Adolecente.astro';//NUEVO
import FooterAdolecente from '@/components/footer/footerAdolecente.astro';//Nuevo
import '@/styles/global.css';
---

<Layout>
	<Headeradolecente />
	<div class="mt-20">
		<Main />
	</div>
	<div class="mt-20">
		<CarruselAdolecente />
	</div>
	<div class="mt-44">
		<PlanesAdolecente />
	</div>
	<div class="mt-44">
		<FAQadolecente />
	</div>
	<div class="mt-44">
		<FooterAdolecente />
	</div>
	<Becas />
</Layout>
