---
import Layout from '../layouts/Layout.astro';
import PlanesSection from '@/components/planes/planesSection.astro';
import Becas from '@/components/main/beca/index_becas.astro';
import Header from '@/components/header.astro';
import Main from '@/components//main/main/index_main.astro';
import Carrusel from '@/components/main/carrusel/index_carrusel.astro';
import FAQ from '@/components/main/FAQ/index_FAQ.astro';
import Footer from '@/components/footer.astro';
---

<head>
	<link rel="stylesheet" href="/css/propPlanes.css" />
</head>

<Layout>
	<PlanesSection />
	<Header />
	<div class="mt-20">
		<Main />
	</div>
	<div class="mt-20">
		<Carrusel />
	</div>
	<div class="mt-20">
		<FAQ />
	</div>
	<Becas />
</Layout>
