---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/header.astro';
import HeaderLogin from '@/components/headerLogin.astro';
import Main from '@/components/main/index_main.astro';
import Carrusel from '@/components/main/index_carrusel.astro';
import Planes from '@/components/planes/index_planes.astro';
import FAQ from '@/components/main/index_FAQ.astro';
import Footer from '@/components/footer/footer.astro';
import { VelocityScroll } from '@/components/ui/scroll-based-velocity';
import '@/styles/global.css';

import cookie from 'cookie';
const cookies = cookie.parse(Astro.request.headers.get('cookie') || '');
const estaConectado = !!cookies.access_token;
---

<Layout>
	{estaConectado ? <HeaderLogin /> : <Header />}
	<div class="mt-20">
		<Main />
	</div>
	<div class="mt-20">
		<Carrusel />
	</div>
	<div id="planes" class="mt-44">
		<Planes />
	</div>
	<div class="mt-44">
		<section class="overflow-hidden w-full py-16 bg-[#5C59C2]">
			<VelocityScroll
				text="Educando con tecnología"
				default_velocity={5}
				className="font-onest text-center text-4xl font-bold tracking-[-0.05rem] text-[white] drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
				client:load
			/>
		</section>
	</div>
	<div id="faq" class="mt-44">
		<FAQ />
	</div>
	<div class="mt-44">
		<Footer />
	</div>
</Layout>

<script define:vars={{ estaConectado }}>
	import cookie from 'cookie';
	const cookies = cookie.parse(document.cookie || '');

	// Obtén el token de las cookies
	const token = cookies['access_token'];
	let age = 0;

	if (token) {
		// Decodifica el payload del token JWT
		const payload = JSON.parse(atob(token.split('.')[1]));
		age = payload.age;

		// Redirige según la edad
		if (age >= 0 && age <= 9) {
			Astro.redirect('/index_niños');
		} else if (age >= 10 && age <= 17) {
			Astro.redirect('/index_adolescentes');
		}
	}
</script>
