---
import Layout from '../layouts/Layout.astro';
<<<<<<< HEAD
import Becas from '@/components/main/beca/index_becas.astro'
import Header from '@/components/header.astro'
import PlanesSection from '@/components/planes/planesSection.astro';
=======
import Becas from '@/components/main/beca/index_becas.astro';
import Header from '@/components/header.astro';
import Main from '@/components//main/main/index_main.astro';
import Carrusel from '@/components/main/carrusel/index_carrusel.astro';
>>>>>>> b62c89cb42d30653fac0d6423585751651040492
---
<head>
	<link rel="stylesheet" href="/css/propPlanes.css">
</head>

<Layout>
<<<<<<< HEAD
	<PlanesSection />
=======
	<Header />
	<div class="mt-20">
		<Main />
	</div>
	<div class="mt-20">
		<Carrusel />
	</div>
	<Becas />
>>>>>>> b62c89cb42d30653fac0d6423585751651040492
</Layout>
