---
import ProfileLayout from '@/layouts/ProfileLayout.astro';
import '@/styles/global.css';
---

<ProfileLayout>
    <div
        class="animate-fade-in flex justify-center gap-48 p-2 mx-52 items-center"
    >
    </div>
</ProfileLayout>
