---
import ProfileHeader from '../components/profile/ProfileHeader.astro';
import ProfileTabs from '../components/profile/ProfileTabs.astro';
import ProfileEditForm from '../components/profile/ProfileEditForm.astro';
import ProfilePasswordForm from '../components/profile/ProfilePasswordForm.astro';

import Layout from '../layouts/Layout.astro';
import Headeradolecente from '@/components/headerAdolecenteRacha.astro';

import '@/styles/global.css';

const tab = Astro.url.searchParams.get('tab') || 'profile';
---
<Layout>
	<Headeradolecente />
	
	<div class="mt-28">
		<!-- Header del perfil -->
		<ProfileHeader />
	</div>

	<div class="mt-10">
		<!-- Pestañas -->
		<ProfileTabs activeTab={tab} />
	</div>

	<div class="mt-10">
		<!-- Contenido dinámico según la pestaña activa -->
		{tab === 'profile' && <ProfileEditForm />}
		{tab === 'password' && <ProfilePasswordForm />}
	</div>
</Layout>


