---
import ProfileSection from '@/components/profileSection.astro';
import ProfileLayout from '@/layouts/ProfileLayout.astro';
import '@/styles/global.css';
---

<ProfileLayout>
    <section
        class="animate-fade-in flex justify-center gap-48 p-2 mx-52 items-center"
    >
    </section>
</ProfileLayout>
