---
import AccordionItem from './AccordionItem.astro';

const accordionItems = [
    {
        title: '¿Qué es AchtDev?',
        content:
            'AchtDev es una plataforma de aprendizaje diseñada para enseñar programación a niños, jóvenes y adultos.',
    },
    {
        title: '¿Qué lenguajes de programación puedo aprender en esta plataforma?',
        content:
            'Puedes aprender lenguajes como Python, JavaScript, HTML/CSS y más, adaptados a diferentes niveles.',
    },
    {
        title: '¿Necesito experiencia previa para empezar?',
        content: 'No, ofrecemos cursos para principiantes y niveles avanzados.',
    },
    {
        title: '¿Cómo puedo solicitar una beca?',
        content:
            'Regístrate en la plataforma y completa el formulario de becas en la sección de soporte.',
    },
];
---

<div class="max-w-4xl mx-auto">
    <AccordionItem items={accordionItems} />
</div>
