<section class="flex flex-row justify-center mt-12 gap-12">
    <button
        class="bg-[#E8EDEB] font-onest flex flex-row px-8 py-4 rounded-full hover:drop-shadow-lg drop-shadow-md transition duration-300"
        style="font-weight: 600;"
    >
        <img src="/logos/google.svg" class="w-6 h-6 mr-4" alt="" />Continuar con
        Google</button
    >
    <button
        class="bg-[#E8EDEB] font-onest flex flex-row px-8 py-4 rounded-full hover:drop-shadow-lg drop-shadow-md transition duration-300"
        style="font-weight: 600;"
    >
        <img src="/logos/github.svg" class="w-6 h-6 mr-4" alt="" />Continuar con
        GitHub</button
    >
</section>
