---
import '@/styles/global.css'
---

<header class="fixed flex w-[1200px] justify-center left-1/2 transform -translate-x-1/2 top-6 rounded-full bg-[#FFFFFF] shadow-md">
    <nav class="flex justify-between w-full mx-16 h-[70px]">
        <div class="flex flex-row items-center ">
            <a href="principal.html" >
                <img src="/AchtDev_Logo.svg" class="w-[65px]" alt="Logo FourDev">
                <img src="/FourDev_Eyes_Logo.svg" class="w-[60px] hidden" alt="Logo FourDev Eyes">
            </a>
        </div>

        <div class="flex items-center  right-0 static">
            <ul class="flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-12 font-onest text-xl" style="font-weight: 600;">
                <li><a href="#planes" class="text-[#222] hover:text-[#5c59c2] transition-colors duration-300">Planes</a></li>
                <li><a href="cursos.html" class="text-[#222] hover:text-[#5c59c2] transition-colors duration-300">Cursos</a></li>
                <li><a href="#faq" class="text-[#222] hover:text-[#5c59c2] transition-colors duration-300">Faq</a></li>
                <li><a href="beca.html" class="text-[#222] hover:text-[#5c59c2] transition-colors duration-300">Beca</a></li>
            </ul>
        </div>

        <div class="hidden lg:flex items-center space-x-2">
            
            <a href="logIn.html" class="text-[#fff] bg-[#5C59C2] items-center px-10 py-1.5 rounded-full text-lg hover:bg-[#4a489e] transition-colors duration-300 font-manrope animate-test" style="font-weight: 800;">Acceder</a>    
            
        </div>

        <div class="flex space-x-2 hidden">
            <a href="logIn.html" class="hidden max-sm:block bg-[#477974] border-2 border-[#3e6661] text-[#E8EDEB] px-5 py-2 rounded-full text-sm">Ingresar</a>
        </div>
    </nav>
</header>

