<div class="fixed inset-0 z-50 flex items-center justify-center bg-white">
    <div class="flex flex-col items-center justify-center">
        <img
            src="/logoGif.gif"
            alt="Cargando..."
            class="w-34 h-32 animate-pulse object-cover"
        />
        <p class="mt-4 text-lg text-gray-600">Cargando...</p>
    </div>
</div>
