---
import SocialLinks from './socialLinkNiño.astro';
import ContactInfo from './contactInfo niño.astro';

const currentYear = new Date().getFullYear();

import '@/styles/global.css';
---

<footer class="bg-[#FFA3A1] py-6 px-4 rounded-[50px] mx-64 my-8">
    <div
        class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-6"
    >
        <div class="flex flex-row gap-8">
            <div class="flex items-center bg-white px-8 rounded-full">
                <img src="/logo_niños.svg" alt="Logo" class="w-16 h-16" />
            </div>
            <SocialLinks />
        </div>

        <ContactInfo email="AchtDev@gmail.com" phone="+51 999 999 999" />
    </div>

    <div
        class="mt-6 text-center text-xl items-center flex justify-center text-white font-onest"
        style="font-weight: 300;"
    >
        <p>&copy; {currentYear} AchtDev. Todos los derechos reservados.</p>
    </div>
</footer>
