---
import '@/styles/global.css';
---

<section>
    <form action="">
        <div class="flex flex-row items-center mt-4 mb-5 w-full gap-4">
            <div class="w-full">
                <div class="flex flex-row gap-2 items-center mb-1">
                    <img src="/icons/user.svg" class="w-4 h-4" alt="" />
                    <h1 class="font-inter" style="font-weight: 600;">
                        Nombres
                    </h1>
                </div>
                <div
                    class="py-3 bg-[#E8EDEB] border-2 rounded-xl border-[#C8C6C6]"
                >
                    <input
                        class="mx-4 w-[95%] bg-transparent border-0 font-onest"
                        placeholder="Ingresa tus nombres"
                        type="text"
                        style="outline: none;"
                    />
                </div>
            </div>
            <div class="w-full">
                <div class="flex flex-row gap-2 items-center mb-1">
                    <img src="/icons/users.svg" class="w-4 h-4" alt="" />
                    <h1 class="font-inter" style="font-weight: 600;">
                        Apellidos
                    </h1>
                </div>
                <div
                    class="py-3 bg-[#E8EDEB] border-2 rounded-xl border-[#C8C6C6]"
                >
                    <input
                        placeholder="Ingresa tus apellidos"
                        class="mx-4 w-[95%] bg-transparent border-0 font-onest"
                        type="text"
                        style="outline: none;"
                    />
                </div>
            </div>
        </div>

        <div class="mb-5">
            <div class="flex flex-row gap-2 items-center mb-1">
                <img src="/icons/mail.svg" class="w-4 h-4" alt="" />
                <h1 class="font-inter" style="font-weight: 600;">Email</h1>
            </div>
            <div
                class="w-full py-3 bg-[#E8EDEB] border-2 rounded-xl border-[#C8C6C6]"
            >
                <input
                    placeholder="Ingresa tu correo"
                    class="mx-4 w-[95%] bg-transparent border-0 font-onest"
                    type="text"
                    style="outline: none;"
                />
            </div>
        </div>

        <div class="mb-5">
            <div class="flex flex-row gap-2 items-center mb-1">
                <img src="/icons/lock.svg" class="w-4 h-4" alt="" />
                <h1 class="font-inter" style="font-weight: 600;">Contraseña</h1>
            </div>
            <div
                class="w-full py-3 bg-[#E8EDEB] border-2 rounded-xl border-[#C8C6C6]"
            >
                <input
                    placeholder="·················"
                    class="mx-4 w-[95%] bg-transparent border-0 font-onest"
                    type="password"
                    style="outline: none;"
                />
            </div>
        </div>

        <div class="mb-5">
            <div class="flex flex-row gap-2 items-center mb-1">
                <img src="/icons/lock.svg" class="w-4 h-4" alt="" />
                <h1 class="font-inter" style="font-weight: 600;">
                    Repetir contraseña
                </h1>
            </div>
            <div
                class="w-full py-3 bg-[#E8EDEB] border-2 rounded-xl border-[#C8C6C6]"
            >
                <input
                    placeholder="·················"
                    class="mx-4 w-[95%] bg-transparent border-0 font-onest"
                    type="password"
                    style="outline: none;"
                />
            </div>
        </div>

        <div class="mb-5">
            <div class="flex flex-row gap-2 items-center mb-1">
                <img src="/icons/calendar.svg" class="w-4 h-4" alt="" />
                <h1 class="font-inter" style="font-weight: 600;">
                    Fecha de nacimiento
                </h1>
            </div>
            <div
                class="w-full py-3 bg-[#E8EDEB] border-2 rounded-xl border-[#C8C6C6]"
            >
                <input
                    placeholder="·················"
                    class="mx-4 w-[95%] bg-transparent border-0 font-onest"
                    type="date"
                    style="outline: none;"
                />
            </div>
        </div>
        <input
            type="button"
            value="Ingresar"
            class="py-3 mt-5 w-full bg-[#5C59C2] rounded-full text-white hover:bg-[#4a489e] font-inter transition-colors duration-300"
            style="font-weight: 700; cursor:pointer; "
        />
    </form>
    <a href="/login" class="flex justify-center mt-6 font-manrope">
        ¿Ya tienes una cuenta?<span class="text-[#5C59C2] ml-1">
            Inicia sesión</span
        >
    </a>
</section>
