---
import { FadeText } from '../ui/fade-text';
---

<section class="flex justify-center flex-col items-center mt-10">
    <FadeText
        className="font-onest text-4xl font-bold text-black dark:text-white"
        direction="left"
        framerProps={{
            show: { transition: { delay: 0.4 } },
        }}
        text="Regístrate"
        client:load
    />

    <FadeText
        className="font-montserrat text-2xl font-light text-black dark:text-white"
        direction="right"
        framerProps={{
            show: { transition: { delay: 0.4 } },
        }}
        text="Por favor ingrese sus datos para crear tu cuenta"
        client:load
    />
</section>
